.account-card {
    width: 500px;
    margin: 5%;
    height: 300px;
    border-radius: 20px;  
    display: inline-block;
    position: relative;
}

.account-card-expanded {
    width: 100%;
    margin: 5%;
    height: 500px;
    border-radius: 20px;  
    display: inline-block;
    position: relative;
}

.account-owner {
    font-size: 26px;
    margin: 0;
    margin-left: 20px;
    color: white;
    margin: 35px;
    margin-top: 30px;
    display: inline-block;
}

.account-number {
    margin: 0;
    font-size: 30px;
    margin-left: 20px;
    color: white;
    margin: 35px;
    margin-top: 70px;
    letter-spacing: 5px;
}

.balance {
    margin: 0;
    font-size: 33px; 
    color: white;
    position: absolute;
    bottom: 0;
    margin: 35px;
}

.account-data {
    display: inline-block;
    width: 35%;
    height: 95%;
    border-radius: 20px;
    padding: 10px;
    position: relative;
}

.account-transactions {
    display: inline-block;
    width: 40%;
    height: 100%;
}

.data-text {
    color: white;
    margin: 0;
}

.expand-button{
    float: right;
    margin: 10px;
    position: absolute;
}

.add-account {
    height: 100%;
    width: 100%;
}

.balance-expanded {
    font-size: 26px; 
    color: white;
    display: inline-block;
    border-left: 3px solid white;
    padding-left: 20px;
}

.account-number-expanded {
    margin: 0;
    font-size: 26px;
    margin-left: 20px;
    color: white;
    margin: 35px;
    padding-left: 20px;
    letter-spacing: 5px;
    display: inline-block;
    border-left: 3px solid white;
}

.account-owner-expanded {
    font-size: 26px;
    margin: 0;
    margin-left: 20px;
    color: white;
    margin-top: 30px;
    display: inline-block;
}