nav{
    display: inline-block;
  }
  
  .nav-links{
    display: flex;
    justify-content: space-around;
    list-style: none;
    float: right;
    width: 50%;
    font-size: 20px;
    font-weight: 600;
    margin-top: 34px;
    color: white;
  }



  .nav-wrapper{
      width: 70%;
      float: right;
      display: inline-block;
      
  }

  .logo-wrapper{
      width: 20%;
      display: inline-block;

  }

  .logo-wrapper h1{
    color:rgba(255,69,58,1);
    margin-top: 20px;
    margin-left: 20%;
  }

  .login-btn{
    width: 120px;
    height: 48px;
    border-radius: 40px;
    border: 3px solid white;
    background: white;
    float: right;
    color: rgba(255,69,58,1);
    margin-top: 15px;
    margin-right: 5%;
  }

  .login-btn p {
    text-align: center;
    font-size: 26px;
    font-weight: 600;
    margin-top: 5px;
    color: rgba(255,69,58,1);
    }

    .login-btn:hover {
      background-color: rgba(255,69,58,1);
    }

    .login-btn:hover p {
      color: white;
    }




    

