a, a > span {
    position: relative;
    color: inherit;
    text-decoration: none;
    line-height: 24px;
  }
  a:before, a:after, a > span:before, a > span:after {
    content: '';
    position: absolute;
    transition: transform .5s ease;
  }

  .hover-effect {
    display: inline-block;
    overflow: hidden;
    
  }
  .hover-effect:before {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background:white;
    transform: translateX(-100%);
  }
  .hover-effect:hover:before {
    transform: translateX(0);
  }
