.add-client-btn{
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 15px;
    height: 50px;
    background-color: #147EFB;
    color: white;
    border: 0;
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.3);
    font-weight: 600;
    font-size: 17px;
    float: right;
    margin-top: 10px;
    margin-right: 25px;
    text-transform: uppercase;
    line-height: 50px;
}

.input-field-client{
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.2);
    background: white;
    border: 0;
    border-radius: 20px;
    outline: none;
    height: 30px;
    width: 100%;
    display: inline-block;
    padding: 15px;
    font-size: 20px;
    resize: none;
    font-weight: 600;
}

.input-field-client-error{
    box-shadow: 0px 0px 7px 0px rgba(255, 0, 0, 0.5);
    background: white;
    border: 0;
    border-radius: 20px;
    outline: none;
    height: 30px;
    width: 100%;
    display: inline-block;
    padding: 15px;
    font-size: 20px;
    resize: none;
    font-weight: 600;
}

.input-field-client:focus{
    outline: none;
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.5);
}

.client-header-title{
    line-height: 71px;
    font-size: 20px;
    margin: 0;
    margin-left: 15px;
    display: inline-block;
}

.form-wrapper{
    display: inline-block;
    width: 45%;
}

.activity-wrapper{
    float: right;
    display: inline-block;
    width: 45%;
    
    
}

.activity-list-wrapper{
    height: 50vh;
    overflow: auto;
    padding-top: 20px;
}


.client-activity{
    width: 80%;
    margin: auto;
    height: 125px;
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.2);
    background-color: white;
    margin-bottom: 20px;
    border-radius: 15px;
    padding: 20px;

}

.add-empty-activity{
    margin: auto;
    width: 80%;
    height: 70px;
    border-radius: 15px;
    border: 3px dashed #757575;
}

.add-empty-activity p{
    text-align: center;
    font-size: 20px;
}

.activity-form-name{
    border: 0;
    display: block;
    margin: auto;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.activity-form-name-new{
    text-align: center;
    border: 0;
    border-bottom: 1px solid #757575;
    display: block;
    margin: auto;
    font-size: 20px;
}

.activity-form-code{
    border: 0;
    display: block;
    margin: auto;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    padding: 15px;
}

.activity-form-code-new{
    text-align: center;
    border: 0;
    border-bottom: 1px solid #757575;
    display: block;
    margin: auto;
    font-size: 16px;
    padding: 10px;
}

.activity-form-code-new:focus{
    outline: none;
}

.activity-form-name:focus{
    outline: none;
}

.activity-form-name-new:focus{
    outline: none;
}

.activity-form-code:focus{
    outline: none;
}

.selectBox{
    border-radius: 15px;
    width: 60%;
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.2);
    border: 0;
    font-size: 20px;
    padding: 10px;
}

