.frame {
    height: 100vh;
    width: 100vw;
    background: #ececec;
    padding-top: 10%;
    position: fixed;
}

.wrapper-login {
        width: 400px;
        height: 350px;
        background: white;
        margin: auto;
        border-radius: 30px;
        padding-top: 20px;
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
}

.title {
    color:  rgba(255,69,58,1);
    font-weight: 600;
    font-size: 26px;
    margin-left: 20px;
}

.input {
    display: block;
    width: 80%;
    margin-left: 10%;
    border: 1px solid #c5c7ce;
    border-radius: 24px;
    outline: none;
    padding: 18px;
    margin-top: 25px;
}

.sign-in-btn {
    border-radius: 26px;
    color: white;
    background: rgba(255,69,58,1);
    border: 0;
    padding: 15px;
    padding-left: 40px;
    padding-right: 40px;
    float: right;
    margin: 30px;
    box-shadow: 0px 10px 15px -2px rgba(255,69,58,0.4);
    outline: none;
}

.sign-in-btn:hover {
    box-shadow: 0px 10px 15px -2px rgba(255,69,58,0.6);
}

.sign-in-btn:active {
    box-shadow: none;
}

.singnin-input {
    width: 100%;
    border: 1px solid #c5c7ce;
    border-radius: 24px;
    margin: 8px 0;
    width: 80%;
    margin-left: 10%;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: 0.3s;
    padding: 18px;
    margin-top: 25px;
  }
  
  
  .inputWithIcon .singnin-input {
    padding-left: 40px;
  }
  
  .inputWithIcon {
    position: relative;
  }
  
  .inputWithIcon i {
    position: absolute;
    left: 0;
    top: 8px;
    margin-left: 11%;
    padding: 9px 8px;
    color: #c5c7ce;
    transition: 0.3s;
    margin-top: 30px;
  }
  
  
  .inputWithIcon.inputIconBg i {
    background-color: #c5c7ce;
    color: #fff;
    padding: 9px 4px;
    border-radius: 4px 0 0 4px;
  }
  
  .singnin-input:focus{
    box-shadow: 0px 0px 5px 1px rgba(255,69,58,0.6);
      border: 1px solid rgba(255,69,58,1);
  }

.singnin-input:focus + i {
    color: rgba(255,69,58,1);
  }
  
.error-message {
  color: red;
  position: fixed;
  font-weight: 500;
  text-align: center;
  display: none;
}