.actions-footer{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 4%;
    
}

.account-data{
    margin-left: 30px ;
    margin-bottom: 30px;
}

.dialog-container {
    height: 100%;
    width: 100%;
}