.sidebarLink{
    width: 70%;
    height: 40px;
    line-height: 40px;
    margin: auto;
    padding-top: 0px;
    cursor : context-menu;
    color: #9c9c9c;
    display: block;
    font-size: 17px;
    font-weight: 600;
    padding-left: 15%;
    margin-bottom: 10px;
  
}

.sidebarLinkActive{
    color: #212121;
    background-color: rgb(255, 154, 148);
    width: 70%;
    height: 40px;
    line-height: 40px;
    margin: auto;
    cursor : context-menu;
    border-radius: 9px;
    display: block;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 10px;
}


.sidebarLink:hover{
    color: rgb(250, 37, 26);
    border-radius: 9px;
    background-color: rgb(255, 154, 148);
}

