.sidenav-wrapper{
    min-width: 13vw;
    float: left;
    height: 100vh;
    background-color: white;
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.2);
    position: fixed;
}

.sidenav-wrapper ul{
    list-style: none;
    padding: 0;
}

.sidenav-wrapper h4{
    color:  rgba(255,69,58,1);
    padding-left: 25px;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer {
    bottom: 0;
    position: fixed;
    margin: 20px;
    border-top: 1px solid rgba(255,69,58,0.4);
    min-width: 11vw;
}