.dashboard-wrapper{
    background: #eaeef1;
    height: 100vh;
}

.dashboard-container{
    float: right;
    width: 83vw;
    height: 89vh;
    margin-right: 40px;
    margin-top: 75px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.2);
}

.dashboard-container-empty{
    float: right;
    width: 83vw;
    min-height: 95vh;
    margin-right: 40px;
    margin-top: 20px;
    
}

.submit-btn{
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 15px;
    height: 50px;
    background-color: #147EFB;
    color: white;
    border: 0;
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.3);
    font-weight: 600;
    font-size: 17px;
    float: right;
    margin-top: 10px;
    margin-right: 25px;
    text-transform: uppercase;
    line-height: 50px;
}

.discard-btn{
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 15px;
    height: 50px;
    background-color: #FC3158;
    color: white;
    border: 0;
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.3);
    font-weight: 600;
    font-size: 17px;
    float: right;
    margin-top: 10px;
    margin-right: 25px;
    text-transform: uppercase;
    line-height: 50px;
}



.header{
    width: 100%;
    height: 70px;
    background-color: white;
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.2);
    border-radius: 15px;
    margin-bottom: 25px;
}