.input-field{
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.2);
    background: white;
    border: 0;
    border-radius: 20px;
    outline: none;
    height: 90px;
    width: 85%;
    display: inline-block;
    padding: 15px;
    font-size: 20px;
    resize: none;
    font-weight: 600;
}

.input-field-error{
    box-shadow: 0px 0px 7px 0px rgba(255, 0, 0, 0.5);
    background: white;
    border: 0;
    border-radius: 20px;
    outline: none;
    height: 90px;
    width: 85%;
    display: inline-block;
    padding: 15px;
    font-size: 20px;
    resize: none;
    font-weight: 600;
}


.input-field:focus{
    outline: none;
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.5);
}

.rightSide .input-field:focus{
    outline: none;
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.5);
}

.leftSide{
    width: 48%;
    display: inline-block;
    border-right: 2px solid #bdbdbd;
}

p{
    color: #757575;
    font-weight: 600;
    font-size: 17px;
    user-select: none;
}

.rightSide{
    width: 42%;
    display: inline-block;
    
    padding-left: 2%;
    position: absolute;
    
}

.rightSide .input-field{
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.2);
    background: white;
    border: 0;
    border-radius: 20px;
    outline: none;
    height: 30px;
    width: 85%;
    display: inline-block;
    font-size: 20px;
    resize: none;
    font-weight: 600;
}

.rightSide h3{
    text-align: right;
    padding-right: 10%;
    color: #757575;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
    user-select: none;
}

.input-checkbox{
    width: 30px;
    height: 30px;
    background-color: white;
    border: 0;
}

.reset-btn{
    width: 15%;
    float: left;
    border-radius: 22px;
    height: 100px;
    background-color: #9e9e9e;
    color: white;
    border: 0;
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.5);
    font-size: 35px;
    font-weight: 600;
}


.buttons-wrapper{
    width: 100%;
    margin-top: 100px;
    text-align: center;
}
